@model Sena.Business.DTOs.usuarios.RegistrarUsuarioDto

@{
    Layout = null;
}

@*<form asp-action="Crear"  onclick="mostrarModal('@Url.Action("Crear","Usuario",null,Context.Request.Scheme)','Crear Usuario')" class="btn btn-success">
    
</form>*@
<form id="formulario" asp-action="Crear" onsubmit="return jQueryAjaxPost(this, 'Crear cliente', '¿Desea crear el usuario?')" autocomplete="off">
                    <div class="input-group mb-3">
                        <input asp-for="Email" class="form-control" placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                         <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="input-group mb-3">
                        <input asp-for="Password" class="form-control" placeholder="Password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                        <span asp-validation-for="Password" class="text-danger error"></span>
                    </div>

                    <div class="input-group mb-3">
                        <input asp-for="ConfirmarPassword" class="form-control">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <span asp-validation-for="ConfirmarPassword" class="text-danger error"></span>

                    
                    <br />
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    </div>

                </form>


