@model Sena.Models.Entities.Cliente

@{
    Layout = null;
}

<div class="row">
    <div class="col-md-12">
        <form asp-action="Crear" autocomplete="off">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nombres" class="control-label"></label>
                <input asp-for="Nombres" class="form-control" />
                <span asp-validation-for="Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoDocumentoId" class="control-label"></label>
                <select asp-items="@ViewBag.TiposDocumento" asp-for="TipoDocumentoId" class="form-control" > 
                    <option>-- Seleccione el tipo de documento --</option>

                </select>
                <span asp-validation-for="TipoDocumentoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" id="submit-all" />
            </div>
        </form>
    </div>
</div>



@section Scripts {
   @* @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}*@
    
    <script>
            @if(TempData["Accion"]!= null && TempData["Accion"].ToString().Equals("Validación"))
         {
              <text>
                     alertify.set('notifier','position', 'top-right');
                     alertify.success('@TempData["Mensaje"]');
          
              </text>
         
         }
    
    </script>

    <script>
        var submitButton = document.querySelector("#submit-all");
        submitButton.addEventListener("click", function(){
                
            if (!$("#formulario").valid()){
                alertify.set('notifier','position', 'top-right');
                 alertify.warning('Debe ingresar todos los campos');
            }
         
        }); 
    </script>
}
